body{
    margin: 0;
    padding: 30px;
    background: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat:no-repeat;
    background-size: cover;
    
}

.container{
    background-color: rgba(255, 255, 255, 0.8);
    width: 795px;
    height: 1123%;
    margin: auto;
    padding: 0px;
    }
.main{
    padding: 50px;
    text-align: justify;
}

h1{
    text-align: center;
}

.r1{
    text-align: right;
}

.heading{
    background-color: rgb(149, 149, 151);
    padding: 2px;
    font-size: 15px;
}

.edu{
    font-weight: bold;
    font-size: 14px;
}

.sign{
    text-align: right;
}
